.Logo {
    box-sizing: border-box;
    height: 80%;
    border-radius: 5px;
    width: 45px;
    height: 35px;
    margin-left: 0px;
}

.Logo img {
    height: 100%;
}

/* @media (min-width: 1126px) {
    .Logo {
        position: fixed;
        top: 12px;
        left: 70px;
    }
} */





/* .Logo {
    background-color: #F5C518;
    box-sizing: border-box;
    align-content: center;
    width: 70px;
    height: 32px;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    padding-top: 0px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}


@media (max-width:650px) {
    .Logo {
        height: 32px;
        width: 50px;
        font-size: 15px;
        margin-bottom: 5px;
    }
} */