.SideDrawer {
    position: fixed;
    width: 270px;
    height: 100%;
    max-width: 70%;
    left: 0;
    top: 0;
    z-index: 8;
    background-color: #1F1F1F;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    overflow-y: hidden;

}


.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}


@media (min-width: 769px) {
    .SideDrawer {
        display: none;
    }
}