.Header {
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #F5C518;

    margin-top: 10px;
    text-align: center;
}


@media (max-width: 450px) {
    .Header {
        font-size: 20px;

    }
}