.NavigationBar {
  background-color: #121212;
  box-sizing: border-box;
  height: 56px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0px;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  z-index: 7;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .Hide {
    display: none;
  }

  .NavigationBar {
    overflow-x: hidden;
  }
}