.NavigationBar {
  background-color: #121212;
  box-sizing: border-box;
  height: 56px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0px;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  z-index: 7;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .Hide {
    display: none;
  }

  .NavigationBar {
    overflow-x: hidden;
  }
}


























/* .NavigationBar {
  box-sizing: border-box;
  display: flex;
  height: 56px;
  width: auto;
  background-color: #121212;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
}



.NavigationBar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  margin-left: 20px;


}

.NavigationBar ul li {
  margin-right: 70px;
}



@media (min-width: 769px) {
  .Hamburger {
    display: none;
  }

  .NavigationBar ul {
    margin-left: 30px;
    margin-right: 0px;
  }

  .NavigationBar ul li {
    margin-right: 0px;
  }
}

@media (max-width: 1024px) {
  .NavigationBar ul li {
    margin-right: 40px;
  }
}

@media (max-width: 950px) {
  .NavigationBar ul li {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .Hide {
    display: none;
  }
} */


























/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(22, 20, 20);
  font-family: sans-serif;
  z-index: 10;
}

.NavBar li {
  font-size: 20px;
  color: white;
  list-style: none;
}

.NavDiv {
  box-sizing: border-box;
  width: 20%;
  display: flex;
  justify-content: space-between;

}

.NavDiv li {
  padding-left: 5%;
}

@media (max-width: 1000px) {
  .NavDiv {
    display: none;
  }
}

@media (max-width:650px) {
  .NavBar {
    height: 66px;
  }
}


@media (min-width: 650px) {
  .HamBurger {
    display: none;
    margin-left: 0px;
  }
} */

/* .NavBar h6 {
    font-size: 5px;
    color: white;
}

.NavBar p {
    font-size: 5px;
    color: white;
}

.NavLinks {
    display: flex;
    justify-content: space-between;
}

.NavLinks li {
    font-size: 5px;
    color: white;
    list-style: none;

} */