.input[type="text"] {
    background: white;
    width: 700px;
    height: 32px;
    border: none;
    font-size: 20px;
    border-radius: 2px;
    outline: none;
    text-decoration: none;
}

@media (max-width:650px) {
    .input[type="text"] {
        height: 32px;
        width: 250px;
    }
}